* {
  margin: 0px;
  box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

@font-face {
  font-family: Poppins;
  src: url('DesignerVN-Poppins-Regular.ttf');
}

@font-face {
  font-family: Salute;
  src: url('DFVN-Salute.otf');
}

.pho-background-image {
  background-image: url('pho-background-image.png');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  border-bottom: 0.7px solid black;
}

nav ul {
  text-align: center;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-bar-image {
  background: rgba(0,0,0,0.5) url('pho-background-image.png');
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 0.7px solid black;
}

/*extra small devices, phone*/
@media only screen and (min-width: 480px) {

  .pho-background-image {
    background-blend-mode: darken;
    background-position: 96% center;
    background-size: cover;
    background-attachment: fixed;
  }

  nav ul li {
    display: inline-block;
    padding: 10px;
    font-family: Poppins;
    font-size: 15px;
    cursor: pointer;
 }

  .pho-text-white {
    display: block;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .pho-text-white img {
    max-width: 100%;
    max-height: 100%;
  }

  .pho-text img {
    display: none;
  }

  .category-title h1 {
    font-family: Poppins;
    font-size: 30px;
    text-align: center;
  }

  .category-title p {
    font-family: Salute;
    font-weight: lighter;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5em;
  }

  .slideshow-container {
    width: 480px;
    position: absolute;
    margin: auto;
    padding-top: 10px;

  }

  .slideshow-slide {
    display: block;
  }

  .slideshow-slide img {
    display: block;
    width: 480px;
    vertical-align: middle;
  }

  .slideshow-overlay {
    padding: 10px;
    height: 250px;
  }

  .slideshow-overlay h1 {
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
  }

  .slideshow-overlay p {
    font-family: Salute;
    font-size: 10px;
    text-align: left;
    line-height: 1.5em;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 165px;
    width: auto;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .left {
    left: 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .dots {
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    white-space: nowrap;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .bottom {
    background-color: white;
    padding: 10px;
  }

} /*the bracket for media only screen*/

/**/
/**/
/**/

@media only screen and (min-width: 1000px) {

  .pho-text {
    padding-left: 80px;
    padding-right: 50px;
    padding-top: 250px;
    width: 50em;
  }

  .pho-text img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .pho-text-white {
    display: none;
  }

  nav ul li {
    display: inline-block;
    padding: 15px;
    font-family: Poppins;
    font-size: 20px;
    cursor: pointer;
  }

  .category-title h1 {
    font-family: Poppins;
    font-size: 50px;
    text-align: center;
  }

  .category-title p {
    font-family: Salute;
    font-weight: lighter;
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2em;
  }

  .slideshow-container {
    min-width: 1000px;
    max-width: 1100px;
    position: relative;
    margin: auto;
  }

  .slideshow-slide img {
    display: block;
    min-width: 1000px;
    max-width: 1100px;
    vertical-align: middle;
  }

  .slideshow-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: auto;
    padding: 2em;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .slideshow-slide:hover .slideshow-overlay {
    opacity: 1;
  }

  .slideshow-overlay h1 {
    font-family: Poppins;
    font-size: 30px;
    text-align: center;
  }

  .slideshow-overlay p {
    font-family: Salute;
    font-size: 20px;
    text-align: left;
    line-height: 1.5em;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-left: -3em;
    margin-right: -3em;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    user-select: none;
  }

  .next {
    right: 0;
  }

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .dots {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    white-space: nowrap;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .bottom {
    background-color: white;
    padding: 30px;
  }

} /*the bracket for media only screen*/
